<div class='login_menu'>
  <h2>Авторизация</h2>
  <h3 hidden class='error'>Неверные данные</h3>
  <form>
    <label for='login' class='form'>Имя пользователя:</label><br>
    <input type='text' id='login' placeholder='Admin' class='form'><br>
    <label for='password' class='form'>Пароль:</label><br>
    <input type='password' id='password' placeholder='Password' class='form'><br>
  </form>
  <button type='submit' id='submit'>Войти</button>
</div>